# Visual Studio
.vs/
bin/
obj/

# Build output
Build/
Release/
Debug/

# User files
*.user
*.suo
*.log

# BepInEx / Unity
BepInEx/config/
BepInEx/cache/
BepInEx/LogOutput.log

# OS files
.DS_Store
Thumbs.db
